<%- include('partials/header'); -%>

<header>
  <div class="scissors">
    <img src="/scissors1.png" alt="scissors logo">
  </div>
  <div class="headings">
    <h2>URL shortener</h2>
    
    <a href="/shorten" class="btn">Shorten Url</a>
  </div>
</header>


<%- include('partials/footer'); -%>